$ns: '.info-slider';

#{$ns} {
	&__final {
		max-width: calc(100vw - 60px);
		padding-top: 15vh;
	}

	&__image-label {
		font-size: 1.5rem;
		line-height: 1.5;
		letter-spacing: 0.3em;
		text-transform: uppercase;
		font-weight: 600;
	}

	.generic-horizontal-scroll {
		&__title {
			font-size: 4rem;
			line-height: 1.3;
			letter-spacing: -0.03em;
			font-weight: 300;
			text-transform: none;
			@screen md {
				font-size: 6rem;
				line-height: 7.2rem;
			}
		}
		> .container {
			@apply px-0;
		}

		&__track {
			@apply mt-30 md:mt-80 lg:mt-120;
			> * {
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 570px;
				max-width: calc(100vw - 60px);
				&:not(:last-of-type):not(:first-of-type) {
					&::after {
						content: '';
						@apply absolute inset-y-0 -left-40 lg:-left-75 border-r border-lightGrey;
					}
				}

				.typo-medium-body-regular-03 {
					line-height: 1.75;
					font-weight: 300;
					@screen md {
						line-height: 2;
					}
				}
			}

			> :last-of-type {
				@screen lg {
					flex: 0 0 100vw;
				}
				&.is--visible {
					.generic-horizontal-scroll__title {
						@apply opacity-0;
					}
					#{$ns}__final {
						@apply opacity-100;
					}
				}
			}
		}
		#{$ns}__final,
		.generic-horizontal-scroll__title {
			@apply transition duration-500;
		}

		&.is--last-slide #{$ns}__final {
			opacity: 1;
		}
		&.is--last-slide {
			.generic-horizontal-scroll__title {
				opacity: 0;
			}
		}
	}
}
