// -----------------------------------------------------------------------------
// This file contains styles that are specific to the default page template.
// -----------------------------------------------------------------------------

$ns: '.page-default';

#{$ns} {
	/*
	margin-bottom: 90px;
	> .container {
		max-width: 996px;
	}
	*/
}
